@using DotNetBlazor.Client.Components
@using DotNetBlazor.Client.Utility
@using DotNetBlazor.Shared.Models.Todo

@using System.Net
@using DotNetBlazor.Client.Services
@inject ITodoService TodoService
@inject IAlertService AlertService

<EditForm id="@FormId" Model="@Model" OnValidSubmit="SubmitHandle">
    <DataAnnotationsValidator />
    <ValidationError />
    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="@nameof(Model.Name)">@Model.GetDisplayName(nameof(Model.Name))</label>
        </div>
        <div class="col-sm-9">
            <InputText class="form-control" @bind-Value="Model.Name" />
            <ValidationMessage For="@(() => Model.Name)" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="@nameof(Model.Description)">@Model.GetDisplayName(nameof(Model.Description))</label>
        </div>
        <div class="col-sm-9">
            <InputText class="form-control" @bind-Value="Model.Description" />
            <ValidationMessage For="@(() => Model.Description)" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-3">
            <label for="@nameof(Model.Status)">@Model.GetDisplayName(nameof(Model.Status))</label>
        </div>
        <div class="col-sm-9">
            <InputSelect class="form-control" @bind-Value="Model.Status">
                <option value="">--Select--</option>
                <option value="Todo">Todo</option>
                <option value="In Progress">In Progress</option>
                <option value="Done">Done</option>
            </InputSelect>
            <ValidationMessage For="@(() => Model.Status)" />
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public string FormId { get; set; } = "Form";
    [Parameter] public TodoRequest? Model { get; set; } = new();
    [Parameter] public EventCallback<TodoRequest> SubmitEvent { get; set; }
    private bool IsOpenDeleteModal = false;

    private void SubmitHandle()
    {
        SubmitEvent.InvokeAsync(Model);
    }
}
